In [0]:
CREATE TABLE country (
country             	text,           	           
code                	text,          	                 
calling_code        	text,          	                    
year                	text,         	                    
co2_emission_       	text,       	                    
population          	text,        	                    
area                	text,          	                    
percentage_of_world     text,         	                    
density             	text);

In [0]:
COPY country FROM 's3://amaldonadelab4/Trabajo1/Country/CO2 emission by countries.csv'

iam_role 'arn:aws:iam::494212176882:role/LabRole'

ACCEPTINVCHARS

delimiter ',' IGNOREHEADER 1 
removequotes
emptyasnull
blanksasnull
maxerror 5;

In [0]:
CREATE TABLE electricity (
country_name        	text,              	                    
"1990"                	real,              	                    
"1991"               	real,                	                    
"1992"               	real,               	                    
"1993"               	real,              	                    
"1994"               	real,            	                    
"1995"                	real,        	                    
"1996"                	real,            	                    
"1997"                	real,      	                    
"1998"                	real,             	                    
"1999"                	real,           	                    
"2000"                	real,             	                    
"2001"                	real,               	                    
"2002"                	real,            	                    
"2003"                	real,             	                    
"2004"                	real,              	                    
"2005"                	 real,           	                    
"2006"                	real,             	                    
"2007"                	 real,          	                    
"2008"                	real,           	                    
"2009"                	real,           	                    
"2010"                	 real,            	                    
"2011"                	 real,          	                    
"2012"                	 real,        	                    
"2013"                	 real,            	                    
"2014"                	 real,           	                    
"2015"                	 real,          	                    
"2016"                	 real,           	                    
"2017"                	  real,             	                    
"2018"                	real);

In [0]:
COPY electricity FROM 's3://amaldonadelab4/Trabajo1/Electricity/Access_to_electricity (1).csv'

iam_role 'arn:aws:iam::494212176882:role/LabRole'

ACCEPTINVCHARS

delimiter ',' IGNOREHEADER 1 
removequotes
emptyasnull
blanksasnull
maxerror 5;

In [0]:
CREATE TABLE capita (
country_name        	text,
country_code            text,
"1960"                	real,            	                    
"1961"                	real,             	                    
"1962"               	real,              	                    
"1963"                	real,              	                    
"1964"                	real,           	                    
"1965"                	real,       	                    
"1966"                	real,              	                    
"1967"                	real,              	                    
"1968"                	real,              	                    
"1969"                	real,              	                    
"1970"                	real,              	                    
"1971"                	real,              	                    
"1972"                	real,              	                    
"1973"                	real,              	                    
"1974"                	real,              	                    
"1975"                	real,              	                    
"1976"                	real,              	                    
"1977"                	real,              	                    
"1978"                	real,              	                    
"1979"                	real,              	                    
"1980"                	real,              	                    
"1981"                	real,              	                    
"1982"                	real,              	                    
"1983"                	real,              	                    
"1984"                	real,              	                    
"1985"                	real,              	                    
"1986"                	real,              	                    
"1987"               	real,              	                    
"1988"                	real,              	                    
"1989"                	real,            	                    
"1990"                	real,              	                    
"1991"               	real,                	                    
"1992"               	real,               	                    
"1993"               	real,              	                    
"1994"               	real,            	                    
"1995"                	real,        	                    
"1996"                	real,            	                    
"1997"                	real,      	                    
"1998"                	real,             	                    
"1999"                	real,           	                    
"2000"                	real,             	                    
"2001"                	real,               	                    
"2002"                	real,            	                    
"2003"                	real,             	                    
"2004"                	real,              	                    
"2005"                	 real,           	                    
"2006"                	real,             	                    
"2007"                	 real,          	                    
"2008"                	real,           	                    
"2009"                	real,           	                    
"2010"                	 real,            	                    
"2011"                	 real,          	                    
"2012"                	 real,        	                    
"2013"                	 real,            	                    
"2014"                	 real,           	                    
"2015"                	 real,          	                    
"2016"                	 real,           	                    
"2017"                	  real,             	                    
"2018"                	real);

In [0]:
COPY capita FROM 's3://amaldonadelab4/Trabajo1/capita/CO2 emissions per capita per country.csv'

iam_role 'arn:aws:iam::494212176882:role/LabRole'

ACCEPTINVCHARS

delimiter ',' IGNOREHEADER 1 
removequotes
emptyasnull
blanksasnull
maxerror 5;

In [0]:
CREATE TABLE temperature (
    dt timestamp,
    averageTemperature text,
    averageTemperatureUncertainty text,
    city text,
    country text,
    latitud text,
    longitude text);

In [0]:
COPY temperature FROM 's3://amaldonadelab4/Trabajo1/Temperature/GlobalLandTemperaturesByCity.csv'

iam_role 'arn:aws:iam::494212176882:role/LabRole'

delimiter ',';

In [0]:
SELECT electricity.country_name, capita.country_code 
FROM electricity 
INNER JOIN capita ON electricity.country_name = capita.country_name

In [0]:
SELECT
    *
FROM
    "dev"."public"."country";